<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring-app-service: bootJar (ubuntu-s1)" type="docker-deploy" factoryName="docker-compose.yml" folderName="Ubuntu-s1" server-name="Docker - ubuntu-s1 (staging)">
    <deployment type="docker-compose.yml">
      <settings>
        <option name="envFilePath" value="" />
        <option name="envVars">
          <list>
            <DockerEnvVarImpl>
              <option name="name" value="SPRING_PROFILES_ACTIVE" />
              <option name="value" value="staging" />
            </DockerEnvVarImpl>
          </list>
        </option>
        <option name="commandLineOptions" value="--build" />
        <option name="services">
          <list>
            <option value="spring-app-service" />
          </list>
        </option>
        <option name="sourceFilePath" value="docker-compose.yaml" />
        <option name="upDetach" value="false" />
      </settings>
    </deployment>
    <method v="2">
      <option name="Gradle.BeforeRunTask" enabled="true" tasks="bootJar" externalProjectPath="$PROJECT_DIR$/backend" vmOptions="" scriptParameters="" />
    </method>
  </configuration>
</component>